{% extends "base.html.twig" %}
{% block content %}
        <h1> {{ titol }} </h1>
        <table border="1px" id="table-llista">
            <tr>
                <th>idUsuari</th>
                <th>Nom</th>
                <th>Cognoms</th>
                <th>Email</th>
                <th>Perfil</th>
                <th>Password</th>
                <th>Departament</th>
            </tr>

            {% for key,value in usuaris %}
                <tr>
                    <td>{{ value.idUsuari }}</td>
                    <td>{{ value.nom }}</td>
                    <td>{{ value.cognoms }}</td>
                    <td>{{ value.email }}</td>
                    <td>{{ value.perfil }}</td>
                    <td>{{ value.password }}</td>
                    <td>{{ value.departament }}</td>
            </tr>

            {% endfor %}
        </table>
{% endblock %}