{% extends "base.html.twig" %}
{% block content %}
        <h1> {{ titol }} </h1>
        <table border="1px" id="table-llista">
            <tr>
                <th>idSubtasca</th>
                <th>Titol</th>
                <th>Descripcio</th>
                <th>Data inici</th>
                <th>Data final</th>
                <th>Prioritat</th>
                <th>Usuaris</th>
            </tr>

            {% for key,value in subtasques %}
                <tr>
                    <td>{{ value.idSubtasca }}</td>
                    <td>{{ value.titol }}</td>
                    <td>{{ value.descripcio }}</td>
                    <td>{{ value.dataInici|date('d-m-Y') }}</td>
                    <td>{{ value.dataFinal|date('d-m-Y') }}</td>
                    <td>{{ value.prioritat }}</td>
                    <td>{{ value.usuaris }}</td>
            </tr>

            {% endfor %}
        </table>
{% endblock %}