{% extends "base.html.twig" %}
{% block content %}
        <h1> {{ titol }} </h1>
        <table border="1px" id="table-llista">
            <tr>
                <th>idTasca</th>
                <th>Titol</th>
                <th>Descripcio</th>
                <th>Data inici</th>
                <th>Data final</th>
                <th>Estat</th>
                <th>Prioritat</th>
                <th>Departament</th>
            </tr>

            {% for key,value in tasques %}
                <tr>
                    <td>{{ value.idTasca }}</td>
                    <td><a href="{{ path('pets_web_llistaSubtasques', {'id': value.idTasca}) }}">{{ value.titol }}</a></td>
                    <td>{{ value.descripcio }}</td>
                    <td>{{ value.dataInici|date('d-m-Y') }}</td>
                    <td>{{ value.dataFinal|date('d-m-Y') }}</td>
                    <td>{{ value.estat }}</td>
                    <td>{{ value.prioritat }}</td>
                    <td>{{ value.departament }}</td>
            </tr>

            {% endfor %}
        </table>
{% endblock %}