{% extends 'base.html.twig' %}

{% block content %}
    <h1>Editar Usuari</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar usuari" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('usuaris_index') }}">Tornar a la llista</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar usuari">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
