<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <h1>{{ titol }}</h1>
        {{form_start(form, {'action':'', 'method':'POST'})}}
        {#{{ form }}#}

        {{form_end(form)}}
    </body>
</html>
=======
{% extends "base.html.twig" %}
{% block content %}
    <h1>{{ titol }}</h1>
    {{form_start(form, {'action':'', 'method':'POST'})}}

    {{form_end(form)}}
{% endblock %}
>>>>>>> master
