<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/global.css') }}">
</head>
<body>
   {{form_start(form, {'action':'', 'method':'POST'})}}
    <h1>{{ titol }}</h1>
    {#{{ form }}#}
    
    {{form_end(form)}}
    
    {{ estat }}
</body>
</html>