{% extends 'base.html.twig' %}

{% block content %}
    <h1>Editar Subtasca</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Editar subtasca" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('subtasques_index', { 'idTasca': subtasque.idTasca }) }}">Tornar a la llista</a>        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar subtasca">
            {{ form_end(delete_form) }}
        </li>
</ul>
{% endblock %}
