{% extends 'base.html.twig' %}

{% block content %}
    <h1>Subtasques de&nbsp;&nbsp;<sub>"{{ titolTasca }}"</sub></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Idsubtasca</th>
                <th>Titol</th>
                <th>Descripcio</th>
                <th>Datainici</th>
                <th>Datafinal</th>
                <th>Prioritat</th>
                <th>Usuaris</th>
                <th>Idtasca</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subtasque in subtasques %}
            <tr>
                <td><a href="{{ path('subtasques_show', { 'idSubtasca': subtasque.idSubtasca }) }}">{{ subtasque.idSubtasca }}</a></td>
                <td>{{ subtasque.titol }}</td>
                <td>{{ subtasque.descripcio }}</td>
                <td>{% if subtasque.dataInici %}{{ subtasque.dataInici|date('Y-m-d') }}{% endif %}</td>
                <td>{% if subtasque.dataFinal %}{{ subtasque.dataFinal|date('Y-m-d') }}{% endif %}</td>
                <td>{{ subtasque.prioritat }}</td>
                <td><a href="{{ path('subtasques_usuaris', {'idUsuari': subtasque.usuaris}) }}">{{ subtasque.usuaris }}</a></td>
                <td>{{ subtasque.idTasca }}</td>
                <td>
                    <div>
                        <a href="{{ path('subtasques_show', { 'idSubtasca': subtasque.idSubtasca }) }}">Mostrar</a>
                    </div>
                    <div>
                        <a href="{{ path('subtasques_edit', { 'idSubtasca': subtasque.idSubtasca }) }}">Editar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subtasques_new', { 'idTasca': idTasca }) }}">Crear una nova subtasca</a>
<!--            <a href="subtasques_new/{#{ idTasca }#}">Crear una nova subtasca</a>-->
        </li>
    </ul>
{% endblock %}
