{% extends 'base.html.twig' %}

{% block content %}
    <h1>Subtasca</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Idsubtasca</th>
                <td>{{ subtasque.idSubtasca }}</td>
            </tr>
            <tr>
                <th>Titol</th>
                <td>{{ subtasque.titol }}</td>
            </tr>
            <tr>
                <th>Descripcio</th>
                <td>{{ subtasque.descripcio }}</td>
            </tr>
            <tr>
                <th>Datainici</th>
                <td>{% if subtasque.dataInici %}{{ subtasque.dataInici|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datafinal</th>
                <td>{% if subtasque.dataFinal %}{{ subtasque.dataFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prioritat</th>
                <td>{{ subtasque.prioritat }}</td>
            </tr>
            <tr>
                <th>Usuaris</th>
                <td>{{ subtasque.usuaris }}</td>
            </tr>
            <tr>
                <th>Idtasca</th>
                <td>{{ subtasque.idTasca }}</td>
            </tr>
        </tbody>
    </table>

        <div>
            <a href="{{ path('subtasques_index', { 'idTasca': subtasque.idTasca }) }}">Tornar a la llista</a>
        </div>
        <div>
            <a href="{{ path('subtasques_edit', { 'idSubtasca': subtasque.idSubtasca }) }}">Editar</a>
        </div>
        <div>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </div>
{% endblock %}
